:root{
  /* Color Picker */
  --mainColor: #181818;
  --secondaryColor: #101010;
  --borderColor: #c1c1c1;
  --mainText: #f5f5f5;

  --previewBgc: rgba(40, 40, 40, 0.8);
  --previewShadow: #181818;

  --btnColor: white;
  --linkColor: #56adff;
}