@charset "UTF-8";
:root {
  /* Color Picker */
  --mainBgColor: #f0f0f0;
  --secondaryBgColor: #fff;
  --borderColor: #c1c1c1;
  --mainText: #333;
  --previewBgc: rgba(251 , 249, 243, .8);
  --previewShadow: #f0ead6;
  --btnColor: #333;
  --linkColor: #56adff;
}

html, body {
  color: #333;
  padding: 0;
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: .3s;
  transition: .3s;
}

h1, h2, h3, h4, h5, h6, strong {
  color: var(--mainText);
  font-family: 'Russo One', sans-serif;
  font-weight: 500;
}

a {
  text-decoration: none;
  font-family: 'Roboto Mono', monospace;
  cursor: pointer;
  color: var(--linkColor);
}

ul {
  list-style: none;
}

h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1rem;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.8rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1.2rem;
  }
  h6 {
    font-size: 1rem;
  }
  p {
    font-size: .9rem;
  }
}

p, li, span, label, input, textarea {
  margin: 0;
  color: var(--mainText);
  font-family: 'Roboto Mono', monospace;
}

.s1#greeting-section .main-container {
  margin: 0 auto 100px;
  max-width: 95%;
}

@media screen and (max-width: 768px) {
  .s1#greeting-section .main-container {
    margin-bottom: 50px;
  }
}

.s1#greeting-section .main-container .greeting-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

.s1#greeting-section .main-container .greeting-wrapper h1 {
  text-align: center;
}

.s1#greeting-section .main-container .intro-wrapper {
  background-color: var(--secondaryBgColor);
  border: 1px solid var(--borderColor);
  border-radius: 5px 5px 0 0;
  -webkit-box-shadow: 1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  /* grid-template-rows: 3em 30em; */
      grid-template-areas: 'nav-wrapper nav-wrapper' 'left-column right-column';
}

@media screen and (max-width: 768px) {
  .s1#greeting-section .main-container .intro-wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: 'nav-wrapper' 'left-column' 'right-column';
  }
}

.s1#greeting-section .main-container .intro-wrapper .nav-wrapper {
  border-radius: 5px 5px 0 0;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: nav-wrapper;
  border-bottom: 1px solid var(--borderColor);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--mainBgColor);
}

.s1#greeting-section .main-container .intro-wrapper .nav-wrapper .dots-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 5px;
}

.s1#greeting-section .main-container .intro-wrapper .nav-wrapper .dots-wrapper #dot-1 {
  background-color: #EA4335;
}

.s1#greeting-section .main-container .intro-wrapper .nav-wrapper .dots-wrapper #dot-2 {
  background-color: #FBBC07;
}

.s1#greeting-section .main-container .intro-wrapper .nav-wrapper .dots-wrapper #dot-3 {
  background-color: #34A853;
}

.s1#greeting-section .main-container .intro-wrapper .nav-wrapper .dots-wrapper .browser-dot {
  background-color: black;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin: 5px;
  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
}

.s1#greeting-section .main-container .intro-wrapper .nav-wrapper #navigation {
  margin: 0;
  padding: 10px;
}

.s1#greeting-section .main-container .intro-wrapper .nav-wrapper #navigation li {
  display: inline-block;
  margin: 0 5px;
}

.s1#greeting-section .main-container .intro-wrapper .left-column {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: left-column;
  margin-top: 50px;
  margin-bottom: 50px;
}

.s1#greeting-section .main-container .intro-wrapper .left-column #profile_pic {
  display: block;
  margin: 0 auto;
  height: 200px;
  width: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid var(--borderColor);
}

.s1#greeting-section .main-container .intro-wrapper .left-column #theme-options-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px 0px;
}

.s1#greeting-section .main-container .intro-wrapper .left-column #theme-options-wrapper div.theme-dot {
  height: 30px;
  width: 30px;
  display: inline-block;
  margin: 0 10px;
  border-radius: 3px;
  border: 1px solid var(--mainText);
  cursor: pointer;
}

.s1#greeting-section .main-container .intro-wrapper .left-column #theme-options-wrapper div.theme-dot#light-mode {
  background: white;
}

.s1#greeting-section .main-container .intro-wrapper .left-column #theme-options-wrapper div.theme-dot#dark-mode {
  background: #333;
}

.s1#greeting-section .main-container .intro-wrapper .left-column #theme-options-wrapper div.theme-dot#orange-mode-mode {
  background: #ff4800;
}

.s1#greeting-section .main-container .intro-wrapper .left-column #theme-options-wrapper div.theme-dot#blue-mode {
  background: #0099ff;
}

.s1#greeting-section .main-container .intro-wrapper .left-column #theme-options-wrapper div.theme-dot:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  /*下に動く*/
}

.s1#greeting-section .main-container .intro-wrapper .left-column #settings-note {
  font-size: 12px;
  font-style: italic;
  text-align: center;
}

.s1#greeting-section .main-container .intro-wrapper .right-column {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: right-column;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-right: 50px;
  padding-bottom: 50px;
}

@media screen and (max-width: 768px) {
  .s1#greeting-section .main-container .intro-wrapper .right-column {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 50px;
    padding: 0;
  }
}

.s1#greeting-section .main-container .intro-wrapper .right-column .preview-shadow {
  background: var(--previewShadow);
  width: 350px;
  height: 200px;
  padding-left: 50px;
  padding-top: 50px;
}

@media screen and (max-width: 1024px) {
  .s1#greeting-section .main-container .intro-wrapper .right-column .preview-shadow {
    width: 300px;
    height: 180px;
    padding-left: 30px;
    padding-top: 30px;
  }
}

@media screen and (max-width: 768px) {
  .s1#greeting-section .main-container .intro-wrapper .right-column .preview-shadow {
    width: 250px;
    height: 200px;
    padding-left: 0;
    padding-top: 0;
  }
}

.s1#greeting-section .main-container .intro-wrapper .right-column .preview-shadow #preview {
  width: 350px;
  height: 200px;
  border: 1.5px solid var(--linkColor);
  background-color: var(--previewBgc);
  padding: 15px;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .s1#greeting-section .main-container .intro-wrapper .right-column .preview-shadow #preview {
    width: 300px;
    height: 180px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .s1#greeting-section .main-container .intro-wrapper .right-column .preview-shadow #preview {
    width: 250px;
    height: 200px;
  }
}

.s1#greeting-section .main-container .intro-wrapper .right-column .preview-shadow #preview h3 {
  margin: 15px 0;
  font-size: 2rem;
}

@media screen and (max-width: 1024px) {
  .s1#greeting-section .main-container .intro-wrapper .right-column .preview-shadow #preview h3 {
    font-size: 1.8rem;
  }
}

.s1#greeting-section .main-container .intro-wrapper .right-column .preview-shadow #preview p {
  font-size: 1.2rem;
}

@media screen and (max-width: 1024px) {
  .s1#greeting-section .main-container .intro-wrapper .right-column .preview-shadow #preview p {
    font-size: 1rem;
  }
}

.s1#greeting-section .main-container .intro-wrapper .right-column .preview-shadow #preview .corner {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: 1.5px solid var(--linkColor);
  background-color: white;
  position: absolute;
}

.s1#greeting-section .main-container .intro-wrapper .right-column .preview-shadow #preview .corner#corner-tl {
  top: -5px;
  left: -5px;
}

.s1#greeting-section .main-container .intro-wrapper .right-column .preview-shadow #preview .corner#corner-tr {
  top: -5px;
  right: -5px;
}

.s1#greeting-section .main-container .intro-wrapper .right-column .preview-shadow #preview .corner#corner-br {
  bottom: -5px;
  right: -5px;
}

.s1#greeting-section .main-container .intro-wrapper .right-column .preview-shadow #preview .corner#corner-bl {
  bottom: -5px;
  left: -5px;
}

.s2#about-section .main-container div.main-header h2 {
  text-align: center;
}

.s2#about-section .main-container .main-body .i-love-wrapper {
  margin: 0 auto;
}

.s2#about-section .main-container .main-body .i-love-wrapper .carousel-container {
  width: 270px;
  margin: auto;
  border: 5px solid black;
}

.s2#about-section .main-container .main-body .i-love-wrapper .carousel-container .carousel-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 300px;
}

.s2#about-section .main-container .main-body .i-love-wrapper .carousel-container .carousel-slide .img {
  border: 5px solid red;
}

.s2#about-section .main-container .main-body .i-love-wrapper span {
  font-size: 3rem;
  display: block;
  text-align: center;
  font-weight: bold;
  margin: 20px 0 10px;
}

@media screen and (max-width: 768px) {
  .s2#about-section .main-container .main-body .i-love-wrapper span {
    font-size: 1.8rem;
  }
}

.s2#about-section .main-container .main-body .i-love-wrapper .long-msg {
  margin: 30px auto 0;
}

.s2#about-section .main-container .main-body .i-love-wrapper .long-msg p {
  text-align: center;
  line-height: 2;
  font-size: 2rem;
}

@media screen and (max-width: 768px) {
  .s2#about-section .main-container .main-body .i-love-wrapper .long-msg p {
    font-size: 1rem;
  }
}

.s1#works-section .main-container .post-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (280px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 280px);
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.s1#works-section .main-container .post-wrapper .post {
  width: 280px;
  margin: 0 auto;
  -webkit-box-shadow: 2px 2px 5px 0px var(--mainText);
  box-shadow: 2px 2px 5px 0px var(--mainText);
}

.s1#works-section .main-container .post-wrapper .post .thum-wrapper {
  position: relative;
}

.s1#works-section .main-container .post-wrapper .post .thum-wrapper .thumbnail {
  display: block;
  width: 100%;
  height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
  border-bottom: 1px solid var(--borderColor);
  cursor: pointer;
}

.s1#works-section .main-container .post-wrapper .post .thum-wrapper .modal-wrapper {
  z-index: 10;
  height: 160px;
  position: absolute;
  padding-top: 20px;
  top: 0px;
  margin: 0 auto;
  -webkit-animation-name: modalopen;
          animation-name: modalopen;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  display: none;
  color: var(--mainText);
  -webkit-transition: .5s;
  transition: .5s;
}

@-webkit-keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.s1#works-section .main-container .post-wrapper .post .thum-wrapper .modal-wrapper i {
  font-size: 2rem;
  position: absolute;
  left: 10px;
  top: 10px;
  cursor: pointer;
  z-index: 20;
}

.s1#works-section .main-container .post-wrapper .post .thum-wrapper .modal-wrapper h3 {
  margin: 0 0 0;
  text-align: center;
}

.s1#works-section .main-container .post-wrapper .post .thum-wrapper .modal-wrapper ul {
  margin-top: 0;
  padding: 0 20px;
}

.s1#works-section .main-container .post-wrapper .post .thum-wrapper .modalCover {
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #ffffffb3;
  z-index: 5;
}

.s1#works-section .main-container .post-wrapper .post .post-preview {
  background: var(--mainBgColor);
  padding: 15px;
}

.s1#works-section .main-container .post-wrapper .post .post-preview h5.post-title {
  color: var(--mainText);
  margin: 0 0 10px;
}

.s1#works-section .main-container .post-wrapper .post .post-preview .check-it-out-wrapper {
  margin: 20px 0 5px;
}

.s1#works-section .main-container .post-wrapper .post .post-preview .check-it-out-wrapper i {
  color: var(--mainText);
  width: 20px;
  text-align: center;
  margin-right: 5px;
}

.s1#works-section .main-container .post-wrapper .post .post-preview .source-code-wrapper i {
  color: var(--mainText);
  width: 20px;
  font-size: 1.2rem;
  text-align: center;
  margin-right: 5px;
}

.s2#contact-section .main-container h2 {
  text-align: center;
}

.s2#contact-section .main-container form#contact-form {
  display: block;
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid var(--borderColor);
  padding: 15px;
  border-radius: 5px;
  background: var(--mainBgColor);
  margin-bottom: 50px;
}

.s2#contact-section .main-container form#contact-form div.field label {
  font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
  .s2#contact-section .main-container form#contact-form div.field label {
    font-size: 1.2rem;
  }
}

.s2#contact-section .main-container form#contact-form div.field .input-field {
  width: 100%;
  background: var(--secondaryBgColor);
  border-radius: 5px;
  border: 1px solid var(--borderColor);
  font-size: 1.2rem;
  padding: 15px;
  margin: 0 0 15px;
}

@media screen and (max-width: 768px) {
  .s2#contact-section .main-container form#contact-form div.field .input-field {
    font-size: 1rem;
    padding: 10px;
  }
}

.s2#contact-section .main-container form#contact-form div.field textarea {
  min-height: 100px;
  font-size: 1.2rem;
  padding: 15px;
}

@media screen and (max-width: 768px) {
  .s2#contact-section .main-container form#contact-form div.field textarea {
    font-size: 1rem;
    padding: 10px;
  }
}

.s2#contact-section .main-container form#contact-form input#submit-btn {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  color: #fff;
  background-color: var(--btnColor);
  border-radius: 5px;
  border: none;
  -webkit-box-shadow: 0px 2px 2px var(--mainBgColor);
          box-shadow: 0px 2px 2px var(--mainBgColor);
  cursor: pointer;
  color: var(--mainBgColor);
}

footer {
  background-color: var(--mainBgColor);
}

footer p {
  text-align: center;
  color: var(--mainText);
  padding: 10px 0;
  font-size: 12px;
}

.s1 {
  background-color: var(--mainBgColor);
  border-bottom: 1px solid var(--mainBgColor);
  overflow: auto;
  border-bottom: 1px solid var(--borderColor);
}

.s2 {
  background-color: var(--secondaryBgColor);
  border-bottom: 1px solid var(--borderColor);
  overflow: auto;
  border-bottom: 1px solid var(--borderColor);
}

h2.sec-ttl {
  text-align: center;
  margin: 20px 0;
}

.main-container {
  max-width: 85%;
  margin: 100px auto;
}

@media screen and (max-width: 768px) {
  .main-container {
    max-width: 95%;
    margin: 50px auto;
  }
}

.s1#greeting-section .main-container .intro-wrapper .right-column {
  padding-right: 50px;
  padding-bottom: 50px;
}

@media screen and (max-width: 768px) {
  .s1#greeting-section .main-container .intro-wrapper .right-column {
    padding: 0;
  }
}
/*# sourceMappingURL=main.css.map */